header {
    /* width: 100%;
    height: 100vh;
    background: #323338; */
    /* background: #e2e9f7; */
}

nav {
    width: 250px;
    height: 100%;
    background: #1e1f23;
    /* background: #0d74f5; */
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 30px;
    z-index: 100;
}

.logo {
    display: block;
    margin-bottom: 130px;
}

.logo-img {
    width: 150px;
}

.nav-list {
    list-style: none;
    position: relative;
}

.nav-list li {
    padding: 10px 0;
}

.nav-list li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 14px;
    display: flex;
    align-items: center;
}

.fa-icon {
    font-size: 22px;
    margin-right: 1rem;
}

.active {
   background: #fff;
   width: 100%;
   height: 47px;
   position: absolute;
   left: 0;
   top: 2.6%;
   z-index: -1;
   border-radius: 6px;
   box-shadow: 0 5px 10px rgba(255, 255, 255, 0.4); 
   display: none;
   transition: top 0.5s;
}

.nav-list li:hover a {
    color: #0d74f5;
    transition: 0.3s;
}

.nav-list li:hover ~ .active {
    display: block;
}

.nav-list li:nth-child(1):hover ~ .active {
    top: 2.6%;
}

.nav-list li:nth-child(2):hover ~ .active {
    top: 42.6%;
}

.logo-sm-icon {
    display: none;
    width: 45px;
}

@media only screen and (max-width: 600px) {
    nav {
        width: 110px;
    }

    .logo-sm-icon {
        display: block;
    }

    .logo-img {
        display: none;
    }

    .nav-list li a p {
        display: none;
    }

    .nav-list li a i {
        margin-right: 0;
    }

    .nav-list li a {
        justify-content: center;
    }
}